<html>
  <head>
    <style>
     body {
       font-family: helvetica;
       font-size: 14px;
     }
     #stats {
       width: 250px;
       display: flex;
       justify-content: space-between;
       align-items: center;
       flex-direction: row;
       flex-flow: row wrap;
     }
     #container1 {
       width: 100%;
       height: 100%;
       position: absolute;
       left: 0;
       top: 0;
       z-index: 999;
     }
     h1 {
       opacity: 0.5;
       font-size: 1em;
     }
    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/2.7.14/cytoscape.min.js"></script>
    <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-spread/1.0.9/cytoscape-spread.js"></script>

    <script>
     var ApiOutput = {{{graph}}};

     document.addEventListener("DOMContentLoaded", function(event) {
       var cy1 = window.cy1 = cytoscape({
         container: document.querySelector('#container1'),

         boxSelectionEnabled: false,
         autounselectify: true,

         style: cytoscape.stylesheet()
                         .selector('node')
                         .css({
                           'content': 'data(name)',
                           'text-valign': 'center',
                           'color': 'white',
                           'text-outline-width': 2,
                           'background-color': 'data(noun)',
                           'text-outline-color': '#999'
                         })
                         .selector('edge')
                         .css({
                           'curve-style': 'bezier',
                           'target-arrow-shape': 'triangle',
                           'target-arrow-color': 'data(color)',
                           'line-color': 'data(color)',
                           'width': 1,
                           'label': 'data(label)'
                         })
                         .selector('.selected')
                         .css({
                           'background-color': '#61bffc',
                           'line-color': '#61bffc',
                           'target-arrow-color': '#61bffc',
                           'transition-property': 'background-color, line-color, target-arrow-color',
                           'transition-duration': '0.5s'
                         })
                         .selector('.faded')
                         .css({
                           'opacity': 0.25,
                           'text-opacity': 0
                         }),
         elements: ApiOutput,
         layout: {
           name: 'spread'
         }
       });

       cy1.on('tap', 'node', function(e){
         var node = e.cyTarget;
         var targetId = node.data().id;
         var dijkstra = cy1.elements().dijkstra('#n0');
         var pathToTarget = dijkstra.pathTo( cy1.$('#' + targetId) );
         var distToTarget = dijkstra.distanceTo( cy1.$('#' + targetId) );
         document.getElementById("path_length").textContent="" + (distToTarget - 1);

         cy1.elements().removeClass('selected');
         pathToTarget.addClass('selected');
       });
     });
    </script>
  </head>
  <body>
    <div id="stats"><h2>current path length:</h2> <h2 id="path_length"></h2></div>
    <div id="container1"></div>
  </body>
</html>
